RewriteEngine on
RewriteRule (^\.|/\.) - [F]

options -Indexes

<IfModule mod_expires.c>
  <FilesMatch "\.(woff2)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
</IfModule>

<Files .htaccess>
order allow,deny
Deny from all
</Files>

<Files .env>
order allow,deny
Deny from all
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]
